/* #nav{
   
} */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.fa-github-alt{
    color: white;
}
.navbar{
    background:rgb(31, 31, 31);
}
.nav{
    margin-top:10px;
}
.btn-dark{
    margin-left:30px;
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 5px;
}
#coco{
    color:rgb(255, 153, 51);
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 7px;
    margin-left:10px;
}