<ng-progress></ng-progress>
<nav class="navbar navbar-light">
    <a class="navbar-brand" routerLink="user" href="#">
        <i class="fab fa-github-alt"></i>
        <span id='coco'>Github Search</span>
    </a>
 
</nav>
<div class="container-fluid nav justify-content-center">
    <button routerLink="/repos" class="btn btn-dark my-2 my-sm-0" type="submit ">Find A Repository</button>
    <button routerLink="user" class="btn btn-dark my-2 my-sm-0" type="submit ">Find A Github User</button>
</div>